
<form method="post" action="/cashboard" class="grid-stye">
  <label class="aligner-item" for="amount">Amount Spent :</label>
  <input
  type="text"
  name="amount"
  id="name-field"
  />

<!--      drop down for merchant                  -->

  <label  class="aligner-item grid-row" for="merchant-field">Merchant</label>
  <select
  name="merchant_id"

  >

  <% @merchants.each do |merchant| %>
  <option class="grid-row" value="<%= merchant.id%>"><%= merchant.name %></option>

<% end %>
 </select>



 <label class="aligner-item grid-row" for="tag-field">Tag</label>
 <select
 name="tag_id"
 id="tag-field"
 >

 <% @tags.each do |tag| %>
 <option class="grid-row" value="<%= tag.id%>"><%= tag.name %></option>

<% end %>

<input id="submit" class="aligner-item grid-row aligner" type="submit" value="add transaction"/>










</form>
