<section class="main-text">
<h1>Your Total Spending Budget</h1>

<p>£<%= @spend %></p>

<h2> Your Remaing Budget</h2>

<!-- <% remaining_budget = @budget =- @spend %> -->

<p>£<%= @amount - @spend %></p>
</section>
