<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cashboard</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <main>
    <nav class="grid aligner">
      <ul class="grid-row grid-row-sm aligner">
        <li>
          <a href="/cashboard/add" class="cell aligner-item">Add Transaction</a>
        </li>
        <li>
          <a href="/cashboard/show" class="cell aligner-item">Show Transactions</a>
        </li>
        <li>
          <a href="/cashboard/settings" class="cell aligner-item">Settings</a>
        </Li>
        <li>
          <a href="/cashboard" class="cell aligner-item">Home</a>
        </li>
      </ul>
    </nav>
    <section>
      <%= yield %>
    </section>
  </main>
</body>
</html>
