body {
  align-content: center;
  text-align: center;

}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 10px;
}
/*---------------------------------- table content ------------------------*/

th {
  margin: 5px;
  padding: 10px;
}

td {
  margin: 5px;
  padding: 10px;
}


/*---------------------------------- flex box ------------------------*/
.grid {


}

.grid-row {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.cell {
  padding: 10px;
  flex: 1;
  margin: 5px;
}

/*--------------------------------- Positioning  ----------------------------*/


.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}



/*--------------------------------- Sizing on Devices ----------------------------*/

@media all and (min-width: 480px )   {

.grid-row-sm{
  flex-direction: row;
}

}

@media all and ( min-width: 720px )  {

.grid-row-md{
  flex-direction: row;

}

}

@media all and ( min-width: 960px )  {

.grid-row-lg{
  flex-direction: row;
}
