@charset "utf-8";

html{
  color: rgba(4,4,4,1.00);
  background-color: #EDEAE5;
  font-family: 'Raleway', sans-serif;
  background-image: url('../images/mountain.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

body {
  align-content: center;
  text-align: center;

}

/*--------------------------NAV BARS------------------------------------------*/
nav {


  background-color: rgba(242,241,232,.80);
  border: solid white;
  width: 100%;
  height: 110px;
  color: #66FCF1;
  padding: 10px;
  border-radius: 5px;
  border-width: 4px;
  text-align: center;
  z-index: 1;
  font-family: 'Eczar', sans-serif;
  font-style: bold;
  font-size: 30px;
  font-weight: 100;
}

}
nav ul {
  list-style-type: none;
  padding-right: 30px;


}
nav ul li {
  display: inline;
  padding-right: 10px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}
nav ul li a:hover {
  color: rgba(222,122,66,1.00);
  font-weight: bolder;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding-right: 30px;
  padding: 10px;
}
ul li {
  display: inline;
  padding-right: 10px;
}
ul li a {
  color: black;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}
ul li a:hover {
  color: rgba(222,122,66,1.00);
  font-style: italic;
  font-weight: bolder;
}

form-style {
  padding: 5px;
  margin-top: 10px;
}




.page-on {
  color: rgba(222,122,66,.90);
  text-decoration: underline;
  text-decoration-style: double;
  font-size: 35px;
}


/*---------------------------------- table content ------------------------*/


.amount{
  font-weight: 700;
  font-family: 'Eczar';
  font-size: 20px;
}


th {
  margin: 5px;
  padding: 10px;
}

td {
  margin: 5px;
  padding: 10px;
}

label {
  padding: 5px;
}

#submit {
  margin: 15px;
}

.total{
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
}

.total-main{
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.main-text{

}

#display-amount{
  font-size: 40px;
  font-style: italic;
  color: rgba(157,5,24,1.00);


}

#display-amount-main{
  font-size: 60px;
  color: rgba(157,5,24,1.00);
  font-family: 'Eczar', sans-serif;
}

#display-amount-left{
  font-size: 60px;
  color: green;
  font-family: 'Eczar', sans-serif;
}

#submit{
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20;

}
/*---------------------------------- flex box --------------------------------*/

.grid-stye{
  background-color: rgba(242,241,232,.88);
  border: solid white;
  max-width: 780px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 15px;
  border-width: 4px;


}

.grid-stye-form{
  background-color: rgba(242,241,232,.88);
  border: solid white;
  max-width: 700px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 15px;
  border-width: 4px;
  text-align: left;
}



.grid-stye-main{
  background-color: rgba(242,241,232,.88);
  border: solid white;
  max-width: 500px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 15px;
  border-width: 4px;


}

.spacing {
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  line-height: 35px;
}

.grid-row {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.cell {
  padding: 10px;
  flex: 1;
  margin: 5px;
}



/*--------------------------------- Positioning  ----------------------------*/

.field {
  padding: 10px;
  text-align: left;
  font-size: 25px;
}


.center{
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  align-content: center;
  text-align: center;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}



/*--------------------------------- Sizing on Devices ------------------------*/

@media all and (min-width: 480px )   {

  .grid-row-sm{
    flex-direction: row;
  }




}

@media all and ( min-width: 720px )  {

  .grid-row-md{
    flex-direction: row;

  }

}

@media all and ( min-width: 960px )  {

  .grid-row-lg{
    flex-direction: row;
  }
